<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764228632716-p7tn68nidt7h6kve1r0miaheg3vh3i0h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764228632716-p7tn68nidt7h6kve1r0miaheg3vh3i0h</string>
	<key>API_KEY</key>
	<string>AIzaSyCTzfOZtpNcnTSKrPJOuPJ1NldshaCrW6E</string>
	<key>GCM_SENDER_ID</key>
	<string>764228632716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.agendaboatest</string>
	<key>PROJECT_ID</key>
	<string>agendaboa-test</string>
	<key>STORAGE_BUCKET</key>
	<string>agendaboa-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764228632716:ios:03011d7d3d4943c6dd3ba9</string>
</dict>
</plist>